<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<div th:insert="fragments/head :: nav"></div>

<div class="container"></div>
<form th:method="post" th:action="@{/add}" th:object="${newTiger}">
  <div class="row">
    <div class="col m6">

      <label for="animalName" class="form-label">Add an animal</label>
      <input id="animalName" class="form-control"
             placeholder="Animal name"
             name="name">
    </div>

    <div class="col m6">
      <label for="country" class="form-label">Select a country</label>
      <select th:field="*{country.id}" id="country">
        <option
                th:each="country : ${countries}"
                th:text="${country.getName()}"
                th:value="${country.id}">

        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col m6">
      <label for="foods">Select food(s)</label>
      <select multiple class="form-control" th:field="*{foods}" id="foods">
        <option th:each="food : ${foods}" th:text="${food.getFoodName()}"
                th:value="${{food}}">
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <input id="submitbnt" type="submit" class="form-control btn btn-primary" value="Save"/>
    </div>
  </div>
</form>
</div>
</body>
</html>

